:root {
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(0, 0%, 88%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --nutmeg: hsl(14, 45%, 36%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--wenge-brown);
}

.title,
.omelette__title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 1.75rem;
  color: var(--nutmeg);
}

.word-bold {
  font-weight: 700;
}

.hr {
  margin-bottom: 26px;
  border-top: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: var(--light-grey);
}

.omelette {
  background-color: var(--white);
}
.omelette__image {
  display: block;
  width: 100%;
}
.omelette__container {
  padding: 40px 32px 42px;
}
.omelette__title {
  margin-bottom: 24px;
  font-size: 2.25rem;
  line-height: 1;
  color: var(--dark-charcoal);
}
.omelette__desc {
  margin-bottom: 32px;
}

.preparation-time {
  margin-bottom: 26px;
  padding: 19px 24px 24px;
  background-color: var(--rose-white);
  border-radius: 12px;
}
.preparation-time__title {
  margin-bottom: 11px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-raspberry);
}

.list {
  padding-left: 40px;
  list-style-type: none;
}
.list__item {
  position: relative;
}
.list__item:not(:last-child) {
  margin-bottom: 8px;
}
.list__dot::before {
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  content: "•";
  font-size: 1.3rem;
  color: var(--dark-raspberry);
}
.list__dot--indent::before {
  left: -12.3%;
}
.list__dot--clr-brown::before {
  color: var(--nutmeg);
}

.ingredients {
  margin-bottom: 31px;
}
.ingredients__title {
  margin-bottom: 16px;
}

.instructions {
  margin-bottom: 32px;
}
.instructions__title {
  margin-bottom: 16px;
}
.instructions__list {
  padding-left: 40px;
  list-style-type: none;
}
.instructions__li-item {
  position: relative;
}
.instructions__li-item:not(:last-child) {
  margin-bottom: 8px;
}
.instructions__li-1::before,
.instructions__li-2::before,
.instructions__li-3::before,
.instructions__li-4::before,
.instructions__li-5::before,
.instructions__li-6::before {
  position: absolute;
  left: -11.8%;
  font-weight: 700;
  color: var(--nutmeg);
}
.instructions__li-1::before {
  content: "1.";
}
.instructions__li-2::before {
  content: "2.";
}
.instructions__li-3::before {
  content: "3.";
}
.instructions__li-4::before {
  content: "4.";
}
.instructions__li-5::before {
  content: "5.";
}
.instructions__li-6::before {
  content: "6.";
}
